/* ===========================
   ADMIN SIDEBAR
=========================== */

.admin-sidebar{

position:fixed;

left:0;
top:0;

width:270px;
height:100vh;

background:#114b2d;

display:flex;
flex-direction:column;

justify-content:space-between;

padding:25px 18px;

box-sizing:border-box;

color:#fff;

box-shadow:5px 0 20px rgba(0,0,0,.15);

z-index:1000;

}

/* Logo */

.admin-logo{

text-align:center;

padding-bottom:25px;

border-bottom:1px solid rgba(255,255,255,.15);

}

.admin-logo h2{

margin:0;

font-size:28px;

font-weight:700;

letter-spacing:1px;

}

.admin-logo span{

font-size:14px;

color:#d8eadc;

}

/* Menu */

.admin-menu{

display:flex;

flex-direction:column;

gap:10px;

margin-top:30px;

}

/* Link */

.admin-link{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

border-radius:12px;

text-decoration:none;

color:#d9efe0;

font-size:16px;

font-weight:500;

transition:.3s;

}

.admin-link svg{

font-size:20px;

}

/* Hover */

.admin-link:hover{

background:#1d6b43;

transform:translateX(5px);

color:#fff;

}

/* Active */

.admin-link.active{

background:#fff;

color:#114b2d;

font-weight:700;

box-shadow:0 8px 18px rgba(0,0,0,.15);

}

/* Logout */

.admin-logout{

display:flex;

align-items:center;

justify-content:center;

gap:12px;

padding:14px;

border:none;

border-radius:12px;

background:#d62828;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.admin-logout:hover{

background:#b71c1c;

transform:translateY(-2px);

}