/* ===========================
   TOPBAR
=========================== */

.admin-topbar{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:0 3px 15px rgba(0,0,0,.08);

}

.topbar-left h2{

margin:0;

font-size:28px;

color:#1d3557;

}

.topbar-left span{

font-size:14px;

color:#777;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

/* Search */

.topbar-search{

display:flex;

align-items:center;

gap:12px;

padding:12px 18px;

background:#f3f5f9;

border-radius:30px;

width:320px;

}

.topbar-search input{

border:none;

background:none;

outline:none;

width:100%;

font-size:15px;

}

.topbar-search svg{

color:#666;

}

/* Notification */

.notification-icon{

position:relative;

cursor:pointer;

font-size:22px;

color:#1d3557;

}

.notification-icon span{

position:absolute;

top:-7px;

right:-7px;

width:18px;

height:18px;

border-radius:50%;

background:#ff4d4f;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-size:11px;

font-weight:bold;

}

/* Profile */

.admin-profile{

display:flex;

align-items:center;

gap:12px;

}

.admin-profile img{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

border:3px solid #198754;

}

.profile-placeholder{

width:48px;

height:48px;

border-radius:50%;

background:#198754;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

font-weight:bold;

}

.admin-profile h4{

margin:0;

font-size:16px;

}

.admin-profile p{

margin:0;

font-size:13px;

color:#777;

}