/* LOGO SECTION */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SMALL ROUND IMAGE */
.logo-img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid #c9a44c;
  background: white;

  display: block;
}

/* REMOVE BIG IMAGE EFFECT */
.logo-img img {
  width: 100%;
  height: 100%;
}

/* TEXT */
.logo-text h2 {
  font-size: 24px;
  color: #2e7d32;
  margin: 0;
  line-height: 1;
}

.logo-text span {
  font-size: 14px;
  color: #555;
}