.register-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f5f7f2;

padding:40px;

}

.register-card{

width:1000px;

background:white;

border-radius:20px;

overflow:hidden;

display:flex;

box-shadow:
0 10px 30px
rgba(0,0,0,0.1);

}

.left-side{

width:40%;

background:
linear-gradient(
180deg,
#eaf7e7,
#d4f0ce
);

padding:40px;

display:flex;

flex-direction:column;

justify-content:center;

}

.left-side h1{

color:#1f7a35;

margin-bottom:5px;

}

.left-side p{

font-size:14px;

color:#666;

margin-bottom:30px;

}

.left-side h2{

color:#1f7a35;

margin-bottom:10px;

}

.register-form{

width:60%;

padding:40px;

display:flex;

flex-direction:column;

gap:15px;

}

.register-form h2{

text-align:center;

color:#1f7a35;

}

.register-form input{

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;

}

.register-form button{

padding:14px;

background:#1f7a35;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.register-form button:hover{

background:#145425;

}

.register-form p{

text-align:center;

}

.register-form span{

color:#1f7a35;

font-weight:600;

cursor:pointer;

}