.reset-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f5f8f5;

}

.reset-card{

width:430px;

background:white;

padding:40px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

text-align:center;

}

.reset-card h2{

color:#2e7d32;

margin-bottom:10px;

}

.reset-card p{

margin-bottom:30px;

color:#666;

line-height:1.6;

}

.reset-input{

position:relative;

margin-bottom:20px;

}

.reset-input input{

width:100%;

padding:15px 50px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

box-sizing:border-box;

}

.reset-input input:focus{

outline:none;

border-color:#2e7d32;

}

.reset-icon{

position:absolute;

left:18px;

top:50%;

transform:translateY(-50%);

color:#2e7d32;

}

.eye{

position:absolute;

right:18px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

color:#777;

}

.reset-card button{

width:100%;

padding:15px;

background:#2e7d32;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.reset-card button:hover{

background:#256628;

}